body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav h1 {
  margin: 0;
  font-size: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #ccc;
}

/* Weather Section */
.weather {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.weather-container {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.weather-container h2 {
  margin-top: 0;
  font-size: 40px;
  font-weight: bold;
}

.weather-container p {
  margin: 10px 0;
  font-size: 20px;
}

.search-control {
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.search-control:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.weather-container button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.weather-container button:hover {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
